<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head'); %>
</head>
<body>
    <%- include('./partials/nav'); %>
    <div class="container page-body">
        <h1 class="py-3 fw-bold">About</h1>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque quod deserunt ipsam facere blanditiis, quibusdam dolor aliquam saepe laudantium nostrum expedita totam, a, incidunt deleniti. Labore dolore nam voluptatem aliquam, sunt iste, dolor, doloremque iure tempora fugiat error neque sapiente? Aspernatur, distinctio! Numquam cupiditate voluptatem a perferendis sed reprehenderit distinctio sit quaerat culpa cum. Dignissimos, distinctio. Aspernatur totam consequuntur voluptates quam, fugit amet facere repellat fugiat laudantium quia minus sint? Totam ut ullam, aperiam distinctio quam mollitia illo doloribus aliquam inventore necessitatibus quibusdam reiciendis. Corporis hic esse laborum id a? Vitae repudiandae dolores dolor eveniet. Adipisci dolorum vitae porro? Tempore!
        </p>
    </div>
    <%- include('./partials/foot'); %>
</body>
</html>